@model IEnumerable<Rocky.Models.ApplicationType>

<div div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Application Type</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ApplicationType" asp-action="Create" class="btn btn-primary">
<<<<<<< HEAD
                <i class="fa-solid fa-plus"></i> &nbsp; Create New Application Type
=======
                Create New Application Type
>>>>>>> 8cdd35f7921731db71aed6bc25da1702bea5abf1
            </a>
        </div>
    </div>

    <br><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-sriped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="5%"> @obj.Id</td>
<<<<<<< HEAD
                        <td width="75%"> @obj.Name</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="ApplicationType" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-warning mx-2">
                                    <i class="fa-solid fa-pen-to-square"></i> &nbsp;
                                </a>
                                <a asp-controller="ApplicationType" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="fa-solid fa-trash"></i> &nbsp;
                                </a>
                            </div>
                        </td>
=======
                        <td width="60%"> @obj.Name</td>
>>>>>>> 8cdd35f7921731db71aed6bc25da1702bea5abf1
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>
            No type exists.
        </p>
    }

</div>

